Source: sos
Section: net
Priority: optional
Maintainer: OpenStack, LLC. <david.goetz@rackspace.com>
XSBC-Original-Maintainer: Marcelo Martins <mmartins@racklabs.com>
Build-Depends: debhelper (>= 7.0.50~),
 python-all,
 python-sphinx (>= 1.0),
 python-webob (>= 0.9.7.1~hg20100111-1~racklabs1),
 python-support (>= 0.90.0),
 python (>= 2.6),
 python-setuptools
Standards-Version: 3.9.1
XS-Python-Version: >= 2.6
Vcs-Git: https://github.com/dpgoetz/sos

Package: python-sos
Architecture: all
Section: python
Depends: ${python:Depends}, ${misc:Depends},
 python (>= 2.6),
 python-support (>= 0.90.0)
Provides: ${python:Provides}
Description: Swift Origin Server

Package: python-sos-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: The SOS documentation
 Sphinx documentation for SOS.
